.candy {
	display: flex;
	justify-content: center;
}

.body {
	width: 660px;
	height: 660px;
	color: purple;
	font-size: 80%;
	text-align: center;
	
	
	box-shadow: 0 14px 128px rgba(0,0,0,0.25), 0 20px 20px rgba(0,0,0,0.22);
	}
	
#you {
color: purple;
font-size: 800%;
}
.lol {
width: 200px;
height: 200px;
background-color: black;
border: 10px  solid white; 
float: left;

}

.one {
background-color: green;

}

.two {
background-color: red;

}
.wow {
font-size: 200%;
color: purple;
font-weight: bold;

}